import logging

message="[[ template.params.message ]]"

logging.debug("This is a debug message")

print("""        __             ~~
     __/__\\__  ( %s )
       (Oo) __/ ~~
        \\/===~~
        ||
""" % message)
